@import "./styles/terminal.css";
@import "./styles/header.css";
@import "./styles/weather-image.css";
@import "./styles/weather-data.css";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --default-color: #2AFB97;
    --background-color: #000A0C;
}

* {
    font-family: 'VT323', monospace;
    color: #2AFB97;
    scrollbar-color: var(--default-color) var(--background-color);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
    padding: 10.5px;
    box-sizing: border-box;
}

.global-content-wrapper {
    display: grid;
    grid-template-columns: 13% 40% 26% 21%;
    grid-template-rows: 20% 7.5% 4% 26% 16% 27%;
    grid-template-areas:
    "weather-image solar-data . ."
    "weather-image . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "terminal terminal . ."

    ;
    height: 96%;
    border: 1px solid var(--default-color);
}

.default-container {
    border-color: var(--default-color);
    border-style: solid;
    box-sizing: border-box;
}