@import "./styles/input-data.css";
@import "./styles/header.css";
@import "./styles/weather-image.css";
@import "./styles/weather-data.css";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --default-color: #2AFB97;
    --background-color: #000A0C;
}

* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    color: #2AFB97;
    scrollbar-color: var(--default-color) var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 10.5px;
    background-color: var(--background-color);
    overflow: hidden;
}

.global-content-container {
    display: flex;
    flex-basis: 100%;
    border: 1px solid var(--default-color);
}

.default-container {
    border-color: var(--default-color);
    border-style: solid;
    box-sizing: border-box;
}