.input-data-container {
    display: flex;
    max-height: 25%;
    min-height: 25%;
}

.terminal {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.terminal-border {
    border-width: 0px 1px 1px 1px;
}

.title label {
    position: sticky;
    top: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: x-large;
    background-color: var(--background-color);
    border-color: var(--default-color);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.terminal-container {
    flex-basis: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.log-container {
    margin: 0px 0px 0px .5%;
}   

.input-terminal {
    display: flex;
    align-items: start;
    width: 99%;
    height: 10%;
    border: none;
    padding: 0px;
    margin: 0px 0px 0px .5%;
}

.textarea-terminal {
    width: 100%;
    max-height: 100px;
    min-height: 15px;
    border: none;
    padding: 0px;
    margin: 0px 0px 0px .5%;
    font-size: medium;
    overflow: hidden;
    resize: none;
    background-color: var(--background-color);
}

.textarea-terminal:focus {
    outline: none;
}

.stations-data {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.stations-border {
    border-width: 0px 1px 1px 0px;
}

.stations-data table {
    padding-left: .7vw;
}

.stations-data table thead {
    text-align: left;
}

.stations-data table thead th {
    font-size: 2vh;
}

.stations-data table thead td {
    font-size: 2vh;
}

.stations-data table hr {
    width: 100%;
}