.terminal {
    width: 57%;
    height: 26.85%;
    align-self: end;
}

.terminal-border {
    border-width: 1px 1px 0px 0px;
}

.terminal > h3 {
    position: sticky;
    top: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: x-large;
    background-color: var(--background-color);
    border-color: var(--default-color);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.terminal-container {
    max-width: 100%;
    max-height: 88.11%;
    overflow-y: auto;
    overflow-x: hidden;
}

.log-container {
    margin: 0px 0px 0px .5%;
}   

.input-terminal {
    display: flex;
    align-items: start;
    width: 99%;
    height: 10%;
    border: none;
    padding: 0px;
    margin: 0px 0px 0px .5%;
}

.textarea-terminal {
    width: 100%;
    max-height: 100px;
    min-height: 15px;
    border: none;
    padding: 0px;
    margin: 0px 0px 0px .5%;
    font-size: medium;
    overflow: hidden;
    resize: none;
    background-color: var(--background-color);
}

.textarea-terminal:focus {
    outline: none;
}