.weather-data-container {
    padding: .5% 0px 1% 1.5%;
    font-size: 1.9vh;
}

.weather-data-container-border {
    border-width: 0px 1px 1px 0px;
}

.wind-data-container-border {
    border-width: 0px 1px 0px 0px;
}

.weather-data-container label {
    margin: 0px;
    font-size: large;
}

.weather-data-container ul {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 3%;
    margin: 0px;
}

.weather-data-container ul div {
    display: flex;
    justify-content: space-between;
}

.weather-data-container li {
    list-style-type: none;
    width: 70%;
    text-align: left;
}

.solar-data {
    grid-column-start: 6;
    grid-column-end: 22;
    grid-row-start: 1;
    grid-row-end: 5;
}

.moon-phase {
    grid-column-start: 6;
    grid-column-end: 22;
    grid-row-start: 5;
    grid-row-end: 6;
}

.general-data {
    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start: 6;
    grid-row-end: 11;
}

.wind-data {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 16;
}